@using RS1_PrakticniDioIspita_2017_01_24.Helper;
@using RS1_PrakticniDioIspita_2017_01_24.ViewModels;

@model CasDodajVM

@{
    ViewData["Title"] = "Dodaj";
    NastavnikLoginVM LogiraniKorisnik = Context.GetLogiraniKorisnik();
}

<h3>Novi čas</h3>

<form asp-action="Snimi">
    <div class="form-group">
        <label>Nastavnik:</label>
        <input type="text" class="form-control" value="@LogiraniKorisnik.ImePrezime" readonly />
    </div>
    <div class="form-group">
        <label>Datum:</label>
        <input type="date" asp-for="DatumOdrzanogCasa" class="form-control" />
        <span asp-validation-for="DatumOdrzanogCasa" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label>Ak. godina / predmet:</label>
        <select asp-for="AngazovanId" asp-items="@Model.Angazovani" class="form-control"></select>
    </div>
    <input type="submit" class="btn btn-default" value="Snimi" />
</form>

